// out: scene3/scene3.css, sourcemap: true


body {
  background-color: gray;
}

// .temptext {
//   display: none;
// }

.conversation {
  background-color: #303030;
  margin: 0;
  float: left;
  width: 100%;
  height: 50%;
  overflow: scroll;
  border: 3px solid red;
  display: block;
}

.her {
  text-align: left;
  margin-right: 15%;
  margin-left: 1px;
  background-color: #ffd3d9;
  border: 1px;
  border-color: lightpink;
  border-radius: 5px;
  font-family: Helvetica, sans-serif;
  padding: 5px;
}

.him {
  text-align: right;
  margin-right: 1px;
  margin-left: 15%;
  background-color: #cde7f0;
  border: 1px;
  border-color: lightblue;
  border-radius: 5px;
  font-family: Helvetica, sans-serif;
  padding: 5px;
}

.walk {
  display: block;
  margin-bottom: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  // border: 3px solid red;  this was a test border to see what was going on with the div
  height: 50%;
  width: 100%;
}

#backdrop {
  display: inline;
  // z-index: 0;
  margin: 0;
  // float: right;
  height: 100%;
  position: absolute;
  // changed position to absolute so the silhouettes could float on top
}

#walking {
  display: inline;
  // z-index: 1;
  margin-left: -50%;
  margin: 0;
  // float: right;
  height: 100%;
  position: absolute;
  // changed position to absolute so the silhouettes could float on top
}
