body {
  background-color: gray;
}
div {
  display: block;
  margin-bottom: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 50%;
  width: 100%;
}
#backdrop {
  display: inline;
  margin: 0;
  height: 100%;
  position: absolute;
}
#walking {
  display: inline;
  margin-left: -50%;
  margin: 0;
  height: 100%;
  position: absolute;
}
